        <!--  Tabs  -->
        <section ng-controller="TabController as tab">
          <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href="" ng-click="tab.setTab(1)">Description</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
              <a href="" ng-click="tab.setTab(2)">Features</a>
            </li>
          </ul>

          <!--  Description Tab's Content  -->
          <div ng-show="tab.isSet(1)">
            <h4>Description</h4>
            <blockquote>{{product.description}}</blockquote>
          </div>

          <!--  Features Tab's Content  -->
          <div ng-show="tab.isSet(2)">
            <h4>Features</h4>
            <ul>
              <li ng-repeat="feature in product.features">
                <blockquote>
                  {{feature}}
                </blockquote>
              </li>
            </ul>
          </div>
        </section>